body {
  margin-top: 5%;
  font-family: 'Proxima Nova', sans-serif;
  letter-spacing: 0.55px;
  color: #0d1b2a;
}

th {
  text-align: right;
  font-variant: small-caps;
}

h1 {
  font-size: x-large;
  font-weight: normal;
}

h2 {
  font-size: large;
  font-weight: normal;
}

h3 {
  font-size: small;
  font-weight: normal;
  font-style: italic;
}

a:link {
  color: #1b263b;
  text-decoration: none;
}

a:visited {
  color: #1b263b;
  text-decoration: none;
}
